@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  font-family: "Poppins", sans-serif !important;
}

.scrollhidden::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #dedede36;
  border-radius: 8px;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  /* -webkit-box-shadow: 0 0 0px 1000px #1b1b6c inset; */
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}
.bg-glass {
  border-radius: 15px;
  border: 0.5px solid rgba(255, 255, 255, 0.1);

  background: linear-gradient(
    65deg,
    rgba(37, 18, 66, 0.42) 0.32%,
    rgba(23, 11, 41, 0.42) 20%,
    rgba(24, 10, 29, 0) 114.95%
  );
  backdrop-filter: blur(12.899999618530273px);
}
.intercom-lightweight-app-launcher {
  bottom: 70px !important;
}

@media (min-width: 768px) {
  .intercom-lightweight-app-launcher {
    bottom: 20px !important;
  }
}
.tab-menu {
  border-top: 1px solid #8845fa !important;
  box-shadow: 0px -10px 14px rgba(139, 49, 255, 0.2745098039);
}
.tab-header {
  border-bottom: 1px solid #8845fa !important;
  box-shadow: 0px 10px 14px rgba(139, 49, 255, 0.2745098039);
}
